html{
    width: 100%;
    height:100%;
}

div {
  margin: 0 auto;
  height: 90%;
  width: 90%;
}

.jumbotron {
  background-color: white;
  text-align: center;
  /* background-image: linear-gradient(white, black); */
}
.carousel.slide {
  margin: 0 auto;
}

.carousel-inner .item {
  height: auto;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}

.carousel-control{
  padding: 30% 0 0 0;
}


/* 
.crop {
  width: 100%;
  height: 30%;
  overflow: hidden;
  background-size: cover;
} */

/* .crop img {
  width: 900px;
  height: 600px;
} */
