body{
    background-color:#F2F8F4 ;
}

#survey{
    margin-left: 15%;
    margin-right: 15%;
    
}
#main{
    background-color:#F2F8F4;
    margin-top: 5%;
    margin-bottom: 5%;
}

select.form-control{
    width: 30%;
}
input.form-control{
    width: 50%;
}

div#match{
    text-align: center;
    box-shadow: 5px  grey;
   
}